/*START PAGE*/

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    min-height: 800px;
    background: radial-gradient(closest-side, #e2e2e2, #e7e6e6, #868585);
}

.first-page-content{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.firstPage-img{
    width:18rem;
    height:18rem;
    margin-bottom:0;
    box-shadow: 12rem;
}
.firstPage-h2{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0 .7rem 0;
}
.first-page-button{
    text-decoration: none;
    border:1px solid grey;
    padding:.9rem;
    font-family: 'Open Sans', sans-serif;
}

/*INSTRUCTION PAGE*/

#container{
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 2.7rem;
    margin-top: 6rem;
    margin-bottom:0;
}
h4{
    font-size: 1.5rem;
    margin:0;
}

/*FIRST PAGE */
h3{
    padding:.2rem;
    margin:0;
    background-color: white;
}
#container{
    background-color: #868585;
    max-width:30rem;
    margin:7rem auto;
}
.square{
    margin:0 auto;
    border:.3rem black solid;
    width:10rem;
    height:8.8rem;
    margin:-1.8rem;
    float: left;
    background-color: blue;
    border-radius: 100%;
}