body{
    margin:0;
    font-family: "Montserrat", "Avenir";
}

.first-page-content{
    text-align: center;
}
.firstPage-img{
    width:18rem;
    height:18rem;
    margin-bottom:0;
    box-shadow: 12rem;
}
.firstPage-h2{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 0 .7rem 0;
}
.first-page-button{
    text-decoration: none;
    border:1px solid grey;
    padding:.7rem;

}